<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card bg-white">
            <div class="card-body">
                <h2 class="mb-4">Compra Finalizada</h2>

                <p class="text-center">Parabéns, {{usuario.nome}}, sua compra foi realizada com sucesso!</p>

                <div class="mt-4">
                    <a href="/" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
